<h1>Konami</h1>
    <p>
      The Konami Code was created by Kazuhisa Hashimoto, who was developing the home port of the 1985 arcade game Gradius, a scrolling shooter released on the NES in 1986. Finding the game too difficult to play through during testing, he created a cheat code to give the player a full set of power-ups (normally attained gradually throughout the game).
    </p>

    <p>
    	Some games uses this Konami code like:
    	<li>- Contra</li>
    	<li>- Silent Hill 3</li>
    	<li>- Assassin's Creed III</li>
    	<li>- Borderlands 2</li>
    	<li>- Mortal Kombat 3</li>
    </br>
    	And, maybe this website ... 
    </p>