<h1>Stream</h1>
	<p>
	 Daigo Umehara , born 19 May 1981, is a Japanese arcade fighting video game player. He specializes in 2D arcade fighting games, mainly those released by Capcom. Known as "Daigo" or "The Beast" in the West and "Umehara" or "Ume" in Japan, Umehara is one of the world's most famous Street Fighter players and is often considered its greatest, as well. He currently holds a world record of "the most successful player in major tournaments of Street Fighter" in Guinness World Records. </br></br>
	 He was really famous during his match in the losers bracket final in Evolution Championship Series 2004's thanks of this video: </br>
	 <iframe width="600" height="360" src="http://www.youtube.com/embed/v7cW2nMf1gk" frameborder="0" allowfullscreen></iframe> </br></br>
	 There are some stream of Street Fighter on Twitch: <%= link_to "Super Street Fighter 4", "http://fr.twitch.tv/directory/game/Super%20Street%20Fighter%20IV" %>
    </p>
