<div id="leftMenu">
    <nav class="round">
      <ul>
        <li><%= link_to "Home", home_path %></li>
        <li><%= link_to "Description", description_path %></li>
        <li><%= link_to "Stream", stream_path %></li>
        <li><%= link_to "Konami Code", konami_path %></li>
      </ul>
    </nav>
</div>
