<div id="rightMenu">
    <nav class="round">
    <ul>
      <li><%= link_to "Sources", sources_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Capcom", 'http://www.capcom.com/' %></li>
      <li><%= link_to "Hadouken !", 'http://en.wikipedia.org/wiki/Hadouken_(Street_Fighter)#Hadouken' %></li>
    </ul>
  </nav>
</div>