<h1>Description</h1>
    <p>
     Street Fighter commonly abbreviated as SF, is a series of fighting games developed in Japan. The game's playable characters originate from around the world, each with his or her own unique fighting style.
Since Capcom released the first arcade game in August 1987, the series has had total home software sales of 33 million units, and arcade cabinet sales of over 500,000 units generating more than $1 billion in revenue, qualifying it for the list of best-selling video game franchises. The best-selling game in the series, Street Fighter II, exceeded $1.5 billion in revenue. The franchise has enjoyed significant success all around the world.
    </p>
