<h1>Secret</h1>
    <p>
      You found my secret place.
  </br>
  Now I am going to tell you the <%= link_to "secret of Life", "http://en.wikipedia.org/wiki/Answer_to_The_Ultimate_Question_of_Life,_the_Universe,_and_Everything#Answer_to_the_Ultimate_Question_of_Life.2C_the_Universe.2C_and_Everything_.2842.29" %>.
    </p>
