<h1>Home</h1>
    <p>
      Welcome on the little wiki of StreetFighter. </br>
      If you want to know what is Street Fighter, follow this link:
      <%= link_to "What is Street Fighter ?", description_path, :class => "description_button round" %> </br>
      And if you want to know about a great player:
      <%= link_to "Daigo Umehara", stream_path, :class => "stream_button round" %>
    </p>
    <%= link_to "Resgister you, fast !", signup_path, :class => "signup_button round" %>