<h1>Sources</h1>
<p>Here the lists of the sources for this website:
	<ul>
		<li>- Description and History of Street Fighter : <%= link_to "Wikipedia", "http://en.wikipedia.org/wiki/Street_Fighter" %></li>
		<li>- Hadouken Image: <%= link_to "HADOUKEN", "https://www.google.com/search?q=hoadouken&rlz=1C1CHFX_frFR467FR468&aq=f&um=1&ie=UTF-8&hl=fr&tbm=isch&source=og&sa=N&tab=wi&ei=xCU2UfXBM5C7hAf8yYCIDg&biw=1680&bih=925&sei=5iU2Uf7YHYOQhQeQ04GwDA#um=1&hl=fr&safe=off&rlz=1C1CHFX_frFR467FR468&tbm=isch&sa=1&q=hadouken+street+fighter&oq=hadouken+street+fighter&gs_l=img.3..0j0i24l2.1468.3325.1.3397.16.4.0.12.12.0.64.158.4.4.0...0.0...1c.1.5.img.xGC-XewynWc&bav=on.2,or.r_gc.r_pw.r_cp.r_qf.&bvm=bv.43148975,d.ZG4&fp=f8fa3a0f84acf6a0&biw=1680&bih=925&imgrc=5_1JBVBnwi09sM%3A%3BhIMa3LWbQGVqoM%3Bhttp%253A%252F%252Fimages1.wikia.nocookie.net%252F__cb20110908180746%252Fmarvelvscapcom%252Fimages%252F1%252F1e%252FRyu-hadoken-artwork.png%3Bhttp%253A%252F%252Fmarvelvscapcom.wikia.com%252Fwiki%252FHadoken%3B574%3B411" %></li>
		<li>- Daigo Umehara: <%= link_to "Carreer and life", "http://fr.wikipedia.org/wiki/Daigo_Umehara" %></li>
	</ul>
</p>