<% if @micro.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@micro.errors.count, "errors") %>
        prevented to save your post</h2>
    <p>Thanks to fix those parts :</p>
    <ul>
    <% @micro.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>